:root{
    --background-options: red;
    --option-border: blue;
}

#model img {
    position: absolute;
}

#base {
    z-index: 1;
}

#top{
    z-index: 3;
    top: 60px;
}

#bottoms{
    z-index: 2
}

#fronthair {
    z-index: 7;
}

#newoptions {
    position: relative;
    left: 150px;
    max-height: 240px;
    max-width: 320px;
    overflow: scroll;
    z-index: 10;
    border: solid var(--option-border) 2px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    padding: 5px;
    scrollbar-width: none;
    background-color: var(--background-options);
}


.meow {
    display: block;
    grid-template-columns: 110px 110px 110px;
    gap: 10px;
    background-color: var(--background-options);
    width: 355px;
    height: 260px;
}



.tablink {
    z-index: 11;
    position: relative;
    left: 140px;
    margin-bottom: -3px;
    background-color: var(--background-options);
    font-size: 18px;
    margin-left: 10px;
    border: solid 2px var(--option-border);
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

